/* Menú */
#menu ul { 
    color: blue;
    font-family: "Arial";
    font-weight: 400;
    letter-spacing: 0.075em;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    text-transform: capitalize;
}